*{
	background-color: #eeeeee;
	font-family: Verdana, Arial, "sans serif";
}

div{
	border: solid 1px black;
}

.onglet{
	width: 160px;
	padding: 4px 7px;
	float: left;
}

.onglet_gauche{
	-webkit-border-radius
}

.actif{
	background-color: white;
}

#page{
	clear: both;
	border-radius: 4px;
	height: 592px;
	-webkit-border-radius: 4px;
}

#page div{
	background-color: white;
}

#page h1{
	padding: 0 0 0 16px;
}

#carte{
	float: left;
	margin-left: 0px;
	height: 550px;
	width: 650px;
	background-color: yellow;
}
#camembert{
	float: left;
	margin-left: 0px;
	height: 550px;
	width: 650px;
	background-color: yellow;
}

.hor, .vert{
	padding: 5px;
}

.hor{
	margin-left: 5px;
	float: left;
	height: 300px;
	width: 400px;
}

#courbe{
	background-color: lightblue;
}

.schema p{
	margin: auto;
}
