<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<title>Job Dashbard</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	        <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>

	</head>
	<body>
		<!--<div class="onglet actif onglet_gauche">État du marché</div>
		<div class="onglet onglet_droit">Moteur de recherche</div>-->
		<div id="page">

			<h1>État du marché au {{ aujourdhui}}</h1>
			<p>{{ nb_today }} nouvelles annonces, {{ nb_total }} annonces dans la base</p>

			<div id="content">
				<div class="schema vert carte">
					<h4>Carte par région</h4>
					<figure>
	                      			<embed type="image/svg+xml" src="{{ url_for('static', filename='image/'+carte_reg) }}" />
		   	                </figure>
				</div>
                                <div class="schema hor carte">
					<h4>Carte par département</h4>
                                        <figure>
                                                <embed type="image/svg+xml" src="{{ url_for('static', filename='image/'+carte_dep) }}" />
                                        </figure>

                                </div>

				<div id="courbe" class="schema vert">
					<h4>Volume d'annonce par {{lib_unite}}</h4>
					<img src="{{ url_for('static', filename='image/'+volume_mj+'.png') }}" alt="Volume d'annonces par {{ lib_unite }}" />
				</div>
				<div id="courbe" class="schema hor">
                                        <h4>Volume d'annonce par intitulé de poste</h4>
					<figure>
                                                <embed type="image/svg+xml" src="{{ url_for('static', filename='image/'+camembert) }}" />
                                        </figure>
                                </div>

			</div>
		</div>
	</body>
</html>
