*{
	background-color: #eeeeee;
	font-family: Verdana, Arial, "sans serif";
}

#page{
	border: solid 1px black;
}

.onglet{
	width: 160px;
	padding: 4px 7px;
	float: left;
}

.onglet_gauche{
	-webkit-border-radius
}

.actif{
	background-color: white;
}

#page{
	clear: both;
	border-radius: 16px;
	height: 1200px;
	-webkit-border-radius: 16px;
}


#page h1, #page p{
	padding: 0 0 0 16px;
}

.schema{
	float: left;
	margin-left: 0px;
	height: 567px;
	width: 49.8%;
}

.carte figure{
	margin: 0px;
	width: 100%;
}

.hor, .vert{
	padding: 0px;
}

.hor{
	margin-left: 0px;
	float: left;
 	height: 567px;	
	width: 49.8%;
}

.hor img{
	width: 100%;
}

#courbe.vert{
	clear:both;
}

.schema h4{
	margin: auto;
	padding: 5px 0 3px 4px;
}

#content{
	border-top:solid 1px black;
}
