*{
	background-color: #eeeeee;
	font-family: Verdana, Arial, "sans serif";
}

div{
	border: solid 1px black;
}

.onglet{
	width: 160px;
	padding: 4px 7px;
	float: left;
}

.onglet_gauche{
	-webkit-border-radius
}

.actif{
	background-color: white;
}

#page{
	clear: both;
	border-radius: 16px;
	height: 625px;
	-webkit-border-radius: 16px;
}

#page div{
	background-color: white;
}

#page h1, #page p{
	padding: 0 0 0 16px;
}

#carte{
	float: left;
	margin-left: 7px;
	height: 500px;
	width: 630px;
	background-color: yellow;
}
#carte figure{
	margin: 0;
	width: 100%;
}
.hor, .vert{
	padding: 2px;
}

.hor{
	margin-left: 10px;
	float: left;
 	height: 50%;	
	width: 50%;
}

.hor img{
	height: 100%;
}


#courbe{
	background-color: lightblue;
}

.schema p{
	margin: auto;
}
